@import '~antd/dist/antd.css';


/* CSS Navbar*/
.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 64px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .ant-menu-overflow{
    display: flex;
    justify-content: flex-end;
  }
 .nav0{
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   height: 64px;
 }
 .logoigm{
   top: 0%;
 }
 .ant-menu-dark.ant-menu-horizontal{
   width: 424px;
 }
.logo{
   display: flex;
 }
 .tituitsc{
 color: #fff;
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 0;
}
/*CSS Banner*/

.banner0{
  width: 100%;
  height: 100vh;
  position:relative;
  background: #1a242e;
  border-color: #666;
  background-image: url("https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
  
}
.logobanner{
  
  display: flex;
  justify-content: flex-start;
  width: 370px;
  height: 85vh;
  margin:auto;
  position: relative;
  top: 10%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  
  
}
.imglogo:hover{
  transform : rotate(5deg);
	-moz-transform : rotate(5deg); /* Firefox */
	-webkit-transform : rotate(5deg); /* Chrome - Safari */
	-o-transform : rotate(5deg); /* Opera */
}
.imglogo{
  
  width: 260px;
  height: 260px;
  transition: 1.5s ease;
 	-moz-transition: 1.5s ease; /* Firefox */
 	-webkit-transition: 1.5s ease; /* Chrome - Safari */
 	-o-transition: 1.5s ease; /* Opera */  
}

.tituloits{
  margin-top: 64px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  
}
.botones{
  margin-top:10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  background: transparent;
 
  }
.btn1 {
  border-radius: 9px;
  z-index: 1;
    width: 133px !important;
    border: none !important;
    transition: all 0.3s ease !important;
    overflow: hidden !important;
    
}
.btn1:after{
  
  position: absolute !important;
  content: " " !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
   background-color: #1fd1f9 !important;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%) !important;
  transition: all 0.3s ease !important;
}
.btn1:hover {
  background: transparent !important;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3) !important;
  color: #fff !important;
}
.btn1:hover:after {
  -webkit-transform: scale(2) rotate(180deg) !important;
  transform: scale(2) rotate(180deg) !important;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3) !important;
}