@import '~antd/dist/antd.css';

.login-page{
    width: 100%;
    max-width: 400px;
    margin: 18% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.loginform{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    border: 4px #001529 solid;
    border-radius: 9px
}
.emailform {
    width:80%;
    border: 1px #001529 solid;    
    margin: 10px auto; 
}
.emailpass{
    width:100%;
}
ant-form-item-control-input{
    width:100%;
}
.ant-col-16{
    max-width:100%;
}
