@import '~antd/dist/antd.css';
body {
    background: #001529 !important;
  }

.login-page{
    width: 100%;
    max-width: 400px;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.loginform{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    border: 3px #b2d7fa solid;
    border-radius: 9px;
    padding-top: 11px;
}
.emailform {
    
    width:80%;    
    margin: 10px auto; 
}
.emailpass{
    width:100%;
}

.ant-col-16{
    max-width:100%;
}

.btnlogin {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}
.loginimg{
    margin: 10px;
}



  

  
